
<section class="about">
    <div class="container">
        <div class="about-hero">
            <h1 i18n="ABOUT_US.ABOUT_TITLE.TITLE"></h1>

            <p i18n="ABOUT_US.ABOUT_TITLE.CONTENT"></p>
        </div>

        <div class="row about-options">
            <div class="col-sm-4">
                <div class="svgWrap">
                    <a href="mailto:support@forward.im">
                        <svg t="1596767326734" class="icon" viewBox="0 0 1024 1024" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" p-id="1912" width="200" height="200">
                            <path
                                d="M767.188 75.114H257.992L3.395 516.091l254.598 440.976h509.196l254.597-440.976L767.188 75.114z m-4.739 872.634H262.732L12.875 514.983 262.732 82.216h499.717l249.855 432.767-249.855 432.765z"
                                p-id="1913" fill="#ffffff"></path>
                        </svg>
                        <svg t="1596769884365" class="icon fillSvg" viewBox="0 0 1024 1024" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" p-id="2290" width="200" height="200">
                            <path d="M955.392 768V256L512 0 68.608 256v512L512 1024z" p-id="2291" fill="#1386ff"></path>
                        </svg>
                        <!-- <img src="../images/common/chat.png"> -->
                        <div class="txtItem">
                            <h3 i18n="ABOUT_US.ABOUT_OPTIONS_ONE.TITLE"></h3>
                            <p i18n="ABOUT_US.ABOUT_OPTIONS_ONE.CONTENT"></p>
                        </div>
                    </a>
                </div>


                <!-- <a href="mailto:service@tretalk.cn" class="btn btn-default btn-white"
                    i18n="ABOUT_US.ABOUT_OPTIONS_ONE.HREF"></a> -->
            </div>

            <div class="col-sm-4">
                <div class="svgWrap">
                    <a href="mailto:support@forward.im">
                        <!-- <img src="../images/common/mail.png"> -->
                        <svg t="1596767326734" class="icon" viewBox="0 0 1024 1024" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" p-id="1912" width="200" height="200">
                            <path
                                d="M767.188 75.114H257.992L3.395 516.091l254.598 440.976h509.196l254.597-440.976L767.188 75.114z m-4.739 872.634H262.732L12.875 514.983 262.732 82.216h499.717l249.855 432.767-249.855 432.765z"
                                p-id="1913" fill="#ffffff"></path>
                        </svg>
                        <svg t="1596769884365" class="icon fillSvg" viewBox="0 0 1024 1024" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" p-id="2290" width="200" height="200">
                            <path d="M955.392 768V256L512 0 68.608 256v512L512 1024z" p-id="2291" fill="#1386ff"></path>
                        </svg>
                        <div class="txtItem">
                            <h3 i18n="ABOUT_US.ABOUT_OPTIONS_TWO.TITLE"></h3>

                            <p i18n="ABOUT_US.ABOUT_OPTIONS_TWO.CONTENT"></p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="svgWrap">
                    <a href="mailto:support@forward.im">
                        <!-- <img src="../images/common/mail.png"> -->
                        <svg t="1596767326734" class="icon" viewBox="0 0 1024 1024" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" p-id="1912" width="200" height="200">
                            <path
                                d="M767.188 75.114H257.992L3.395 516.091l254.598 440.976h509.196l254.597-440.976L767.188 75.114z m-4.739 872.634H262.732L12.875 514.983 262.732 82.216h499.717l249.855 432.767-249.855 432.765z"
                                p-id="1913" fill="#ffffff"></path>
                        </svg>
                        <svg t="1596769884365" class="icon fillSvg" viewBox="0 0 1024 1024" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" p-id="2290" width="200" height="200">
                            <path d="M955.392 768V256L512 0 68.608 256v512L512 1024z" p-id="2291" fill="#1386ff"></path>
                        </svg>
                        <!-- <img src="../images/common/user.png"> -->
                        <div class="txtItem">
                            <h3 i18n="ABOUT_US.ABOUT_OPTIONS_THREE.TITLE"></h3>
                            <p i18n="ABOUT_US.ABOUT_OPTIONS_THREE.CONTENT"></p>
                        </div>
                    </a>
                </div>
                <!-- <a href="mailto:service@tretalk.cn" class="btn btn-default btn-green"
                    i18n="ABOUT_US.ABOUT_OPTIONS_THREE.HREF"></a> -->
            </div>

        </div>
    </div>
</section>