<div class="row">
    <footer class="home-page-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="social-icons">
                        <span>Follow us on：</span>
                        <ul>
                            <li><a href="http://youtube.com/" target="_blank"><i class="social-icon youtube-icon"></i></a></li>
                            <li><a href="http://twitter.com/" target="_blank"><i class="social-icon twitter-icon"></i></a></li>
                            <li><a href="http://facebook.com/" target="_blank"><i class="social-icon facebook-icon"></i></a></li>
                            <li><a href="http://instagram.com/" target="_blank"><i class="social-icon instagram-icon"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6" style="text-align: right">
                    <div class="menu-footer-menu-container">
                        <ul id="menu-footer-menu" class="footer-nav">
                            <li class=""><a href="https://web.tretalk.cn/login.html" target="_blank">PC</a></li>
                            <li class=""><a href="https://www.tretalk.com/about/?lang=zh-hans">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
