<nav class="navDefault">
    <div class="container">
        <div class="row">
            <div class="navbarLeft col-md-3">
                <a href=""><span class="logo"></span> <span class="logo1"></span><span class="logoTitle"
                        i18n="NAV.TITLE">Forward聊天</span></a>
            </div>
            <div class=" col-md-9" style="width: 80%">
                <ul class="navbarRight">
                    <li class="navItem navActive"><a href="#page=home"><span i18n="NAV.HOME"></span></a></li>
                    <li class="navItem"><a href="#page=about_us"><span i18n="NAV.ABOUT_US"></span></a></li>
                    <li class="divLanguageWrap">
                        <span class="langChange" i18n="NAV.LANGUAGE">中文</span>
                        <!-- <em class="arrow-down"></em> -->
                        <ul class="divLanguage">
                            <li><span data-type="zh" i18n="NAV.LANGUAGE_ZH">中文</span></li>
                            <li><span data-type="en" i18n="NAV.LANGUAGE_EN">英文</span></li>
                        </ul>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</nav>
<nav class="navScrollShow">
    <div class="container">
        <div class="row">
            <div class="navbarLeft col-md-3">
                <a href="#page=home"><span class="logo"></span><span class="logoTitle"
                        i18n="NAV.TITLE">Forward聊天</span></a>
            </div>
            <div class="col-md-9" style="width: 70%">
                <ul class="navbarRight">
                    <li class="navItem"><a href="#page=home"><span i18n="NAV.HOME"></span></a></li>
                    <li class="navItem"><a href="#page=about_us"><span i18n="NAV.ABOUT_US"></span></a></li>
                    <li class="divLanguageWrap">
                        <span><span class="langChange" i18n="NAV.LANGUAGE">中文</span><em class="arrow-down"></em></span>
                        <ul class="divLanguage">
                            <li><span data-type="zh" i18n="NAV.LANGUAGE_ZH">中文</span></li>
                            <li><span data-type="en" i18n="NAV.LANGUAGE_EN">英文</span></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</nav>