<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <% for(var i=0, len=htmlWebpackPlugin.files.css.length; i<len; i++) {%>
    <link href="<%= htmlWebpackPlugin.files.css[i] %>" rel="stylesheet" />
    <% } %>
    <link rel="shortcut icon" href="./favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="share-wrap">
        <div class="grid">
            <div class="header">
                <img src="./src/images/header.png" alt="">
                <p class="txt">活动时间：2021年04月29日 00:00 ～2021年05月30日 23:59</p>
            </div>
            <div class="share-body">
                <div class="body-top">
                    <div class="surplus—time">距本轮邀请失效仅剩：09:09:09.123</div>
                    <div class="my-reward">我的奖励</div>
                    <div class="body_vip_logo">
                        <img src="./src/images/svip_s.png" alt="">
                    </div>
                    <div class="invite_number">邀请<span>3</span>人，拿1天全站SVIP（0/3)</div>
                    <div class="invite-pos"><span class="pos-item"></span><span class="pos-item"></span><span class="pos-item"></span></div>
                    <div class="button-style">点击复制邀请链接</div>                 
                </div>
                <div class="body-bottom">
                    <div class="invite_number">已经<span>333</span>人领会员</div>
                    <div class="invited-member">
                        <p>
                            <span class="txt">1XXXX2  成功领取会员1天卡</span>
                            <span class="time">1小时前</span>
                        </p>
                    </div>
                </div>

            </div>
            <div class="share-section">
                <div class="section-title"><span class="">更多精彩活动等你来</span></div>
                <div class="section-content">
                    <div class="section-item">
                        <div class="section-icon">
                            <img src="./src/images/svip_s.png" alt="">
                        </div>
                        <div class="section-subtitle">全站月卡0元拿</div>
                        <div class="section-button"><a href="">立即参与</a></div>
                    </div>
                    <div class="section-item">
                        <div class="section-icon">
                            <img src="./src/images/pintu.png" alt="">
                        </div>
                        <div class="section-subtitle">全站月卡0元拿</div>
                        <div class="section-button"><a href="">立即参与</a></div>
                    </div>
                    <div class="section-item">
                        <div class="section-icon">
                            <img src="./src/images/member.png" alt="">
                        </div>
                        <div class="section-subtitle">全站月卡0元拿</div>
                        <div class="section-button"><a href="">立即参与</a></div>
                    </div>
                    <div class="section-item">
                        <div class="section-img">
                            <img src="./src/images/huodong.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="share-section">
                <div class="section-title"><span class="">千图官方活动交流群</span></div>
                <div class="section-content">
                    <div class="section-item">
                        <div class="section-subtitle">群号：490474262</div>
                        <div class="section-button"><a href="">点击加群</a></div>
                    </div>
                </div>

            </div>

            <div class="share-footer">
                <div class="title">
                    活动规则
                </div>
                <div class="share-footer-txt">
                    <p>1、活动时间：本 次活动有效期从4月30日至5月10日，期间未成功用户可继续完成。本次活动限时10天，活动领取上限 3000 份</p>
                    <p>2、参与方法：在24小时内邀请3位30天内未登录过千图网（包括新用户）好友登陆并注册千图网并绑定手机号，即可获得对应会员卡权益。活动期间每位用户可参与3次，即可邀请9位好友领取3天全站会员卡
                    </p>
                    <p>3、好友助力：邀请30天内未到访过千图网的用户即算为助力成功，单个用户每天只能帮助1名用户助力，对于同一好友发出的分享24小时内只能助力一次。微信账号，手机号，身份证号，手机终端，符合任一条件，均视为同一用户。
                    </p>
                    <p>4、权益领取：邀请所有好友成功后，需手动点击领取；领取一般2小时内充值到账户，不排除活动高峰期因服务器拥堵等原因出现延迟</p>
                    <p>5、参与限制：每个登陆账号每周、总共存在领取上限，达到即不可再发起</p>
                    <p>6、助力限制：每个用户每天、每周均存在助力次数上限，达到即不可再助力</p>
                    <p>7、在活动过程中如用户存在以所获取的会员天数奖励进行盈利、非法获取等情况，或者运营方有合理理由怀疑用户存在不当使用奖励权益的，活动运营方将取消用户的参与资格，并有权撤销相关违规交易、收回奖励（含已使用及未使用的）
                    </p>
                    <p>8、在活动过程中如用户曾经存在、出现或经活动运营方合理怀疑存在违背诚实信用原则的行为，用户将可能面临无法获取奖励、仅可获取部分奖励、撤销已获取的奖励受到全部/部分限制的情形，包括：1）通过不正常的手段擦怒活动或者获取奖励的作弊行为，包括机器和人工手段；2）同一手机号用户注册、持有、使用或控制多个千图网账号的非正常助力行为；3）其他违反诚实信用原则的行为
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="alter-wrap">
        <div class="alert-box">
            <div class="close-alert">x</div>
            <div class="alert-content">
                <!-- <div class="react-bg title">
                    温馨提示
                </div>
                <div class="content">
                    不好意思，只能邀请30天内<br>
                    未登录用户助力哦（包括新用户）
                </div>
                <div class="button-style alert-button">
                    我也要0元拿VIP
                </div> -->
                <div>
                    <div class="react-bg title">
                        我的奖励
                    </div>
                    <table class="reward-table">
                        <thead>
                            <th>领取次数</th>
                            <th>领取时间</th>
                            <th>奖励</th>
                            <th>状态</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2021-09-20 12:00</td>
                                <td>1天SVIP</td>
                                <td>未到账</td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>2021-09-20 12:00</td>
                                <td>1天SVIP</td>
                                <td>未到账</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="remark">
                        奖励到账后，可在<a href="">VIP中心-VIP获取记录</a>查询
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% for(var i=0, len=htmlWebpackPlugin.files.js.length; i<len; i++) {%>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
    <% } %>
</body>

</html>