<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"  />
    <title>隐私条款</title>
</head>
<style>
    html,
    body {
        width: 100%;
        height: 100%;
        font-size: 1.4rem;
        margin: 0;
    }

    div {
        margin-top: 20px;
        width: 100%;
        padding: 1.5rem;
        display: none;
    }
</style>

<body>
    <div class="divLangItem" data-type="zh">
        <p>共享数据</p>
        <p>我们绝不会与任何人分享您的数据，你的安全是我们的头等大事。</p>
        <p>存储数据</p>
        <p>******只存储正常运行所需的数据 - 只要您想要******运行。</p>
        <p>云聊天</p>
        <p>******是一种云服务。我们将云聊天中的消息，照片，视频和文档存储在我们的服务器上，以便您可以随时从任何设备访问数据，并使用我们的即时服务器搜索从后面快速访问您的消息。所有数据都经过高度加密存储，每种情况下的加密密钥都存储在不同管辖区域的其他几个DC中。这样，本地工程师或物理入侵者无法访问用户数据。
        </p>
        <p>私密聊天</p>
        <p>秘密聊天使用端到端加密。这意味着所有数据都使用只有您和聊天好友知道的密钥加密。对于我们或任何其他人来说，如果没有直接访问您的设备，就无法了解这些消息中发送的内容。我们不会将您的秘密聊天记录保存在我们的服务器上。我们也不会在秘密聊天中保存任何消息日志，因此在短时间后，我们无法得知您通过秘密聊天向谁发送消息或何时发送消息。出于同样的原因，云聊天中无法进行秘密聊天——您只能从发送消息的设备访问这些消息。
        </p>
        <p>私密聊天中的媒体</p>
        <p>当您通过秘密聊天发送照片，视频或文件时，在上传之前，每个项目都会使用服务器不知道的单独密钥进行加密。然后将此密钥和文件的位置再次加密，这次使用秘密聊天的密钥，也将发送给您的聊天好友。他可以下载并解密该文件。这意味着，从技术上讲，该文件位于******的一个服务器上，但除了您和您的聊天好友外，它看起来就像一个随机的、无法破译的垃圾。我们不知道这个随机数据代表什么，我们不知道它属于哪个特定的聊天。我们定期从服务器中清除这些随机数据，以节省磁盘空间。
        </p>
        <p>联系人</p>
        <p>******使用电话号码作为唯一标识符，因此您可以轻松地从其他消息应用程序（SMS，WhatsApp等）切换并保留您的社交图。在同步您的联系人之前，我们会征求您的同意。我们存储您的联系人，以便在您的某个联系人注册******时通知您，并在通知中正确显示姓名。我们只需要号码和姓名，不会存储关于您的联系人的其他数据。
        </p>
        <p>消息</p>
        <p>您删除的所有内容都将永久删除。除了猫。我们不会删除有趣的猫图片，我们太爱他们了。删除邮件时，将其从邮件历史记录中删除。这意味着副本仍作为合作伙伴消息历史记录的一部分保留在服务器上。一旦您的好友也删除它，它就会永远消失。******的目标不是带来利润，我们非常重视服务器上的磁盘空间。
        </p>
        <p>自毁消息</p>
        <p>可以指定秘密聊天中的消息进行自毁。一旦读取这样的消息（出现2个检查），倒计时就开始了。当时间结束时，参与秘密聊天的两台设备将删除该消息（照片，视频等）。</p>
        <p>销毁账号</p>
        <p>如果您停止使用******，并且6个月未登录******，您的账号将被删除，您存储在******云中的所有消息，媒体，联系人和其他所有数据也将被删除。您可以在“设置”中为非活动账号更改确切的自毁时间段。</p>
        </pre>
    </div>
    <div class="divLangItem" data-type="en">
        1169/5000
        <p>Share data</p>
        <p>We will never share your data with anyone. Your safety is our top priority.</p>
        <p>Storing data</p>
        <p>******Only store the data needed for normal operation-as long as you want it to operate.</p>
        <p>Cloud chat</p>
        <p>****** is a cloud service. We store the messages, photos, videos and documents in the cloud chat on our
            servers
            so that you can access data from any device at any time, and use our instant server search to quickly access
            your messages from behind. All data is highly encrypted and stored, and the encryption keys in each case are
            stored in several other DCs in different jurisdictions. In this way, local engineers or physical intruders
            cannot access user data.</p>
        <p>Private chat</p>
        <p>Secret chats use end-to-end encryption. This means that all data is encrypted with a key that only you and
            chat
            friends know. For us or anyone else, without direct access to your device, there is no way to understand
            what is
            sent in these messages. We will not save your secret chat history on our server. We also don’t keep any
            message
            logs in the secret chat, so after a short time, we won’t know who or when you sent the message through the
            secret chat. For the same reason, secret chats are not possible in cloud chat-you can only access these
            messages
            from the device that sent them.</p>
        <p>Media in private chat</p>
        <p>When you send photos, videos or files via secret chat, each item is encrypted with a separate key that the
            server does not know before uploading. Then encrypt this key and the location of the file again, this time
            using
            the secret chat key, it will also be sent to your chat friends. He can download and decrypt the file. This
            means
            that, technically speaking, the file is located on a server in VPN, but apart from you and your chat
            buddies, it
            looks like a random, undecipherable garbage. We don't know what this random data represents, we don't know
            which
            specific chat it belongs to. We regularly clear these random data from the server to save disk space.</p>

        <p>Contact person</p>
        <p> ******Use the phone number as a unique identifier, so you can easily switch from other messaging apps (SMS,
            WhatsApp, etc.) and keep your social graph. We will ask for your consent before synchronizing your contacts.
            We
            store your contacts so that you can be notified when one of your contacts registers for ******, and the name
            will be displayed correctly in the notification. We only need the number and name and will not store other
            data
            about your contacts.</p>
        <p>news</p>
        <p>Everything you delete will be deleted permanently. Except for cats. We will not delete funny cat pictures, we
            love them so much. When deleting a message, delete it from the message history. This means that the copy
            remains
            on the server as part of the partner's message history. Once your friends delete it, it will disappear
            forever.
            ******'S goal is not to bring profit, we attach great importance to the disk space on the server.</p>
        <p>Self-destruct message</p>
        <p>You can specify the message in the secret chat to self-destruct. Once such a message is read (2 checks
            appear),
            the countdown begins. When the time is over, the two devices participating in the secret chat will delete
            the
            message (photo, video, etc.).</p>
        <p>Destroy account</p>
        <p>If you stop using ****** and have not logged in****** for 6 months, your account will be deleted, and all
            your
            messages, media, and contacts stored in the****** cloud And all other data will also be deleted. You can
            change
            the exact self-destruct time period for inactive accounts in "Settings".</p>
    </div>

    <div class="divLangItem" data-type="big5">
        <p>共享數據</p>
        <p>我們絕不會與任何人分享您的數據，你的安全是我們的頭等大事。</p>
        <p>存儲數據</p>
        <p>******只存儲正常運行所需的數據 - 只要您想要******運行。</p>
        <p>雲聊天</p>
        <p>******是一種雲服務。我們將雲聊天中的消息，照片，視頻和文檔存儲在我們的服務器上，以便您可以隨時從任何設備訪問數據，並使用我們的即時服務器搜索從後面快速訪問您的消息。所有數據都經過高度加密存儲，每種情況下的加密密鑰都存儲在不同管轄區域的其他幾個DC中。這樣，本地工程師或物理入侵者無法訪問用戶數據。
        </p>
        <p>私密聊天</p>
        <p>秘密聊天使用端到端加密。這意味著所有數據都使用只有您和聊天好友知道的密鑰加密。對於我們或任何其他人來說，如果沒有直接訪問您的設備，就無法了解這些消息中發送的內容。我們不會將您的秘密聊​​天記錄保存在我們的服務器上。我們也不會在秘密聊天中保存任何消息日誌，因此在短時間後，我們無法得知您通過秘密聊天向誰發送消息或何時發送消息。出於同樣的原因，雲聊天中無法進行秘密聊天——您只能從發送消息的設備訪問這些消息。
        </p>
        <p>私密聊天中的媒體</p>
        <p>當您通過秘密聊天發送照片，視頻或文件時，在上傳之前，每個項目都會使用服務器不知道的單獨密鑰進行加密。然後將此密鑰和文件的位置再次加密，這次使用秘密聊天的密鑰，也將發送給您的聊天好友。他可以下載並解密該文件。這意味著，從技術上講，該文件位於******的一個服務器上，但除了您和您​​的聊天好友外，它看起來就像一個隨機的、無法破譯的垃圾。我們不知道這個隨機數據代表什麼，我們不知道它屬於哪個特定的聊天。我們定期從服務器中清除這些隨機數據，以節省磁盤空間。
        </p>

        <p>聯繫人</p>
        <p>******使用電話號碼作為唯一標識符，因此您可以輕鬆地從其他消息應用程序（SMS，WhatsApp等）切換並保留您的社交圖。在同步您的聯繫人之前，我們會徵求您的同意。我們存儲您的聯繫人，以便在您的某個聯繫人註冊******時通知您，並在通知中正確顯示姓名。我們只需要號碼和姓名，不會存儲關於您的聯繫人的其他數據。
        </p>
        <p>消息</p>
        <p>您刪除的所有內容都將永久刪除。除了貓。我們不會刪除有趣的貓圖片，我們太愛他們了。刪除郵件時，將其從郵件歷史記錄中刪除。這意味著副本仍作為合作夥伴消息歷史記錄的一部分保留在服務器上。一旦您的好友也刪除它，它就會永遠消失。******的目標不是帶來利潤，我們非常重視服務器上的磁盤空間。
        </p>
        <p>自毀消息</p>
        <p>可以指定秘密聊天中的消息進行自毀。一旦讀取這樣的消息（出現2個檢查），倒計時就開始了。當時間結束時，參與秘密聊天的兩台設備將刪除該消息（照片，視頻等）。</p>
        <p>銷毀賬號</p>
        <p>如果您停止使用******，並且6個月未登錄******，您的賬號將被刪除，您存儲在******雲中的所有消息，媒體，聯繫人和其他所有數據也將被刪除。您可以在“設置”中為非活動賬號更改確切的自毀時間段。</p>

    </div>

    <!-- 印尼语 -->
    <div class="divLangItem" data-type="Indonesia">
        <p>Bagikan data</p>
        <p>Kami tidak akan pernah membagikan data Anda dengan siapa pun. Keamanan Anda adalah prioritas utama kami.</p>
        <p>Menyimpan data</p>
        <p>****** Hanya simpan data yang diperlukan untuk operasi normal-selama Anda ingin itu beroperasi.</p>
        <p>Obrolan cloud</p>
        <p>****** adalah layanan cloud. Kami menyimpan pesan, foto, video, dan dokumen dalam obrolan cloud di server
            kami sehingga Anda dapat mengakses data dari perangkat apa pun kapan saja, dan menggunakan pencarian server
            instan kami untuk dengan cepat mengakses pesan Anda dari belakang. Semua data sangat terenkripsi dan disimpan, dan
            kunci enkripsi dalam setiap kasus disimpan di beberapa DC lain di yurisdiksi yang berbeda. Dengan cara ini,
            insinyur lokal atau pengganggu fisik tidak dapat mengakses data pengguna.</p>
        <p>Obrolan pribadi</p>
        <p>Obrolan rahasia menggunakan enkripsi ujung ke ujung. Ini berarti bahwa semua data dienkripsi dengan kunci
            yang hanya Anda dan teman mengobrol yang tahu. Bagi kami atau siapa pun, tanpa akses langsung ke perangkat Anda,
            tidak ada cara untuk memahami apa yang dikirim dalam pesan-pesan ini. Kami tidak akan menyimpan riwayat
            obrolan rahasia Anda di server kami. Kami juga tidak menyimpan log pesan apa pun di obrolan rahasia, jadi setelah
            beberapa saat, kami tidak akan tahu siapa atau kapan Anda mengirim pesan melalui obrolan rahasia. Untuk
            alasan yang sama, obrolan rahasia tidak dimungkinkan dalam obrolan cloud - Anda hanya dapat mengakses pesan-pesan
            ini dari perangkat yang mengirimnya.</p>
        <p>Media dalam obrolan pribadi</p>
        <p>Saat Anda mengirim foto, video, atau file melalui obrolan rahasia, setiap item dienkripsi dengan kunci
            terpisah
            yang tidak diketahui server sebelum mengunggah. Kemudian mengenkripsi kunci ini dan lokasi file lagi, kali
            ini
            menggunakan kunci obrolan rahasia, itu juga akan dikirim ke teman obrolan Anda. Dia dapat mengunduh dan
            mendekripsi file. Ini berarti bahwa, secara teknis, file tersebut terletak di server di VPN, tetapi selain
            Anda
            dan teman obrolan Anda, itu tampak seperti sampah acak yang tidak dapat diuraikan. Kami tidak tahu mewakili
            data
            acak ini, kami tidak tahu obrolan spesifik miliknya. Kami secara teratur menghapus data acak ini dari server
            untuk menghemat ruang disk.</p>

        <p>Orang yang dapat dihubungi</p>
        <p>****** Gunakan nomor telepon sebagai pengenal unik, sehingga Anda dapat dengan mudah beralih dari aplikasi
            perpesanan lain (SMS, WhatsApp, dll.) Dan menyimpan grafik sosial Anda. Kami akan meminta persetujuan Anda
            sebelum menyinkronkan kontak Anda. Kami menyimpan kontak Anda sehingga Anda dapat diberi tahu ketika salah
            satu
            kontak Anda mendaftar untuk ******, dan nama tersebut akan ditampilkan dengan benar di pemberitahuan. Kami
            hanya
            membutuhkan nomor dan nama dan tidak akan menyimpan data lain tentang kontak Anda.</p>
        <p>berita</p>
        <p>Semua yang Anda hapus akan dihapus secara permanen. Kecuali kucing. Kami tidak akan menghapus gambar kucing
            lucu, kami sangat menyukainya. Saat menghapus pesan, hapus pesan itu dari riwayat pesan. Ini berarti bahwa
            salinan tetap ada di server sebagai bagian dari riwayat pesan mitra. Setelah teman Anda menghapusnya, itu
            akan
            hilang selamanya. ****** Tujuannya bukan untuk menghasilkan laba, kami sangat mementingkan ruang disk di
            server.</p>
        <p>Pesan penghancuran diri</p>
        <p>Anda dapat menentukan pesan di obrolan rahasia untuk dihancurkan sendiri. Setelah pesan tersebut
            dibaca (2
            centang muncul), hitungan mundur dimulai. Ketika waktu berakhir, kedua perangkat yang berpartisipasi
            dalam
            obrolan rahasia akan menghapus pesan (foto, video, dll.).</p>
        <p>Hancurkan akun</p>
        <p>Jika Anda berhenti menggunakan ****** dan belum masuk ****** selama 6 bulan, akun Anda akan dihapus,
            dan semua
            pesan, media, dan kontak Anda disimpan di awan ****** Dan semua data lainnya juga akan dihapus. Anda
            dapat
            mengubah periode waktu penghancuran diri yang tepat untuk akun tidak aktif di "Pengaturan".</p>
    </div>
    <!-- 越南语 -->
    <div class="divLangItem" data-type="vi">
        <p>Chia sẻ dữ liệu</p>
        <p>Chúng tôi sẽ không bao giờ chia sẻ dữ liệu của bạn với bất kỳ ai. An toàn của bạn là ưu tiên hàng đầu của
            chúng
            tôi.</p>
        <p>Lưu trữ dữ liệu</p>
        <p>****** Chỉ lưu trữ dữ liệu cần thiết cho hoạt động bình thường - miễn là bạn muốn nó hoạt động.</p>
        <p>Trò chuyện trên đám mây</p>
        <p>****** là một dịch vụ đám mây. Chúng tôi lưu trữ tin nhắn, ảnh, video và tài liệu trong trò chuyện trên đám
            mây
            trên máy chủ của chúng tôi để bạn có thể truy cập dữ liệu từ bất kỳ thiết bị nào vào bất kỳ lúc nào và sử
            dụng
            tìm kiếm máy chủ tức thời của chúng tôi để truy cập nhanh vào tin nhắn của bạn từ phía sau. Tất cả dữ liệu
            được
            mã hóa và lưu trữ cao, và các khóa mã hóa trong từng trường hợp được lưu trữ ở một số DC khác ở các khu vực
            pháp
            lý khác nhau. Theo cách này, các kỹ sư địa phương hoặc kẻ xâm nhập vật lý không thể truy cập dữ liệu người
            dùng.</p>
        <p>Trò chuyện riêng tư</p>
        <p>Trò chuyện bí mật sử dụng mã hóa đầu cuối. Điều này có nghĩa là tất cả dữ liệu được mã hóa bằng một khóa mà
            chỉ
            bạn và bạn bè trò chuyện biết. Đối với chúng tôi hoặc bất kỳ ai khác, không có quyền truy cập trực tiếp vào
            thiết bị của bạn, không có cách nào để hiểu những gì được gửi trong các tin nhắn này. Chúng tôi sẽ không lưu
            lịch sử trò chuyện bí mật của bạn trên máy chủ của chúng tôi. Chúng tôi cũng không giữ nhật ký tin nhắn
            trong
            cuộc trò chuyện bí mật, vì vậy sau một thời gian ngắn, chúng tôi đã giành chiến thắng để biết ai hoặc khi
            bạn
            gửi tin nhắn qua cuộc trò chuyện bí mật. Vì lý do tương tự, các cuộc trò chuyện bí mật không thể thực hiện
            được
            trong trò chuyện trên đám mây - bạn chỉ có thể truy cập các tin nhắn này từ thiết bị đã gửi chúng.</p>
        <p>Phương tiện trong trò chuyện riêng tư</p>
        <p>Khi bạn gửi ảnh, video hoặc tệp qua trò chuyện bí mật, mỗi mục được mã hóa bằng một khóa riêng mà máy chủ
            không
            biết trước khi tải lên. Sau đó mã hóa khóa này và vị trí của tệp một lần nữa, lần này bằng cách sử dụng khóa
            trò
            chuyện bí mật, nó cũng sẽ được gửi cho bạn bè trò chuyện của bạn. Anh ta có thể tải xuống và giải mã tập
            tin.
            Điều này có nghĩa là, về mặt kỹ thuật, tệp được đặt trên một máy chủ trong VPN, nhưng ngoài bạn và bạn bè
            trò
            chuyện của bạn, nó trông giống như một thứ rác ngẫu nhiên, không thể giải mã được. Chúng tôi không biết dữ
            liệu
            ngẫu nhiên này đại diện cho cái gì, chúng tôi không biết nó thuộc về cuộc trò chuyện cụ thể nào. Chúng tôi
            thường xuyên xóa những dữ liệu ngẫu nhiên này khỏi máy chủ để tiết kiệm dung lượng đĩa.</p>

        <p>Người liên hệ</p>
        <p>****** Sử dụng số điện thoại làm số nhận dạng duy nhất, do đó bạn có thể dễ dàng chuyển đổi từ các ứng dụng
            nhắn
            tin khác (SMS, WhatsApp, v.v.) và giữ biểu đồ xã hội của bạn. Chúng tôi sẽ yêu cầu sự đồng ý của bạn trước
            khi
            đồng bộ hóa danh bạ của bạn. Chúng tôi lưu trữ danh bạ của bạn để bạn có thể được thông báo khi một trong
            những
            người đăng ký danh bạ của bạn cho ****** và tên sẽ được hiển thị chính xác trong thông báo. Chúng tôi chỉ
            cần số
            và tên và sẽ không lưu trữ dữ liệu khác về danh bạ của bạn.</p>
        <p>Tin tức</p>
        <p>Mọi thứ bạn xóa sẽ bị xóa vĩnh viễn. Ngoại trừ mèo. Chúng tôi sẽ không xóa hình ảnh con mèo hài hước, chúng
            tôi
            yêu chúng rất nhiều. Khi xóa một tin nhắn, xóa nó khỏi lịch sử tin nhắn. Điều này có nghĩa là bản sao vẫn
            còn
            trên máy chủ như một phần của lịch sử tin nhắn của đối tác. Một khi bạn bè của bạn xóa nó, nó sẽ biến mất
            mãi
            mãi. Mục tiêu của ****** không phải là mang lại lợi nhuận, chúng tôi rất coi trọng không gian đĩa trên máy
            chủ.</p>
        <p>Tin nhắn tự hủy</p>
        <p>Bạn có thể chỉ định tin nhắn trong cuộc trò chuyện bí mật để tự hủy. Khi một thông báo như vậy được đọc (2
            kiểm
            tra xuất hiện), đếm ngược bắt đầu. Khi thời gian kết thúc, hai thiết bị tham gia trò chuyện bí mật sẽ xóa
            tin
            nhắn (ảnh, video, v.v.).<p>
                <p>Phá hủy tài khoản</p>
                <p>Nếu bạn ngừng sử dụng ****** và không đăng nhập ****** trong 6 tháng, tài khoản của bạn sẽ bị xóa và
                    tất cả tin nhắn, phương tiện và danh bạ của bạn được lưu trữ trong đám mây ****** Và tất cả các dữ
                    liệu khác
                    cũng sẽ bị xóa. Bạn có thể thay đổi khoảng thời gian tự hủy chính xác cho các tài khoản không hoạt
                    động trong
                    "Cài đặt".</p>
    </div>

    <!-- 马来语 -->
    <div class="divLangItem" data-type="idy">
        <p>Berkongsi data</p>
        <p>Kami tidak akan pernah berkongsi data anda dengan sesiapa pun. Keselamatan anda adalah keutamaan kami.</p>
        <p>Menyimpan data</p>
        <p>****** Hanya simpan data yang diperlukan untuk operasi normal-selagi anda mahu ia beroperasi.</p>
        <p>Sembang awan</p>
        <p>****** adalah perkhidmatan awan. Kami menyimpan mesej, foto, video dan dokumen dalam sembang awan di pelayan
            kami sehingga anda dapat mengakses data dari perangkat apa saja kapan saja, dan menggunakan carian pelayan
            segera kami untuk mengakses pesan anda dengan cepat dari belakang. Semua data sangat dienkripsi dan
            disimpan,
            dan kunci penyulitan dalam setiap kes disimpan di beberapa DC lain di kawasan yang berbeza. Dengan cara ini,
            jurutera tempatan atau penceroboh fizikal tidak dapat mengakses data pengguna.</p>
        <p>Perbualan peribadi</p>
        <p>Sembang rahsia menggunakan enkripsi hujung ke hujung. Ini bermaksud bahawa semua data dienkripsi dengan kunci
            yang hanya anda dan rakan sembang tahu. Bagi kami atau orang lain, tanpa akses langsung ke peranti anda,
            tidak
            ada cara untuk memahami apa yang dihantar dalam mesej ini. Kami tidak akan menyimpan sejarah sembang rahsia
            anda
            di pelayan kami. Kami juga tidak menyimpan log mesej dalam sembang rahsia, jadi setelah beberapa saat, kami
            tidak akan mengetahui siapa atau kapan anda menghantar mesej melalui sembang rahsia. Atas sebab yang sama,
            perbualan rahsia tidak dapat dilakukan dalam sembang awan-anda hanya boleh mengakses mesej ini dari peranti
            yang
            menghantarnya.</p>
        <p>Media dalam sembang peribadi</p>
        <p>Semasa anda menghantar foto, video atau fail melalui sembang rahsia, setiap item dienkripsi dengan kunci yang
            tidak diketahui oleh pelayan sebelum memuat naik. Kemudian enkripsi kunci ini dan lokasi fail sekali lagi,
            kali
            ini menggunakan kunci sembang rahsia, ia juga akan dihantar kepada rakan sembang anda. Dia boleh memuat
            turun
            dan menyahsulit fail. Ini bermaksud, secara teknikalnya, fail tersebut terletak di pelayan dalam VPN, tetapi
            selain anda dan rakan sembang anda, ia kelihatan seperti sampah yang tidak dapat difahami secara rawak. Kami
            tidak tahu apa yang mewakili data rawak ini, kami tidak tahu sembang khusus mana. Kami secara berkala
            membersihkan data rawak ini dari pelayan untuk menjimatkan ruang cakera.</p>

        <p>Hubungi orang</p>
        <p>****** Gunakan nombor telefon sebagai pengecam unik, jadi anda boleh beralih dari aplikasi pesanan lain
            dengan
            mudah (SMS, WhatsApp, dll.) Dan menyimpan grafik sosial anda. Kami akan meminta persetujuan anda sebelum
            menyegerakkan kenalan anda. Kami menyimpan kenalan anda sehingga anda dapat diberitahu ketika salah satu
            kenalan
            anda mendaftar untuk ******, dan namanya akan ditampilkan dengan betul dalam pemberitahuan tersebut. Kami
            hanya
            memerlukan nombor dan nama dan tidak akan menyimpan data lain mengenai kenalan anda.</p>
        <p>berita</p>
        <p>Semua yang anda hapus akan dipadamkan secara kekal. Kecuali untuk kucing. Kami tidak akan memadamkan gambar
            kucing lucu, kami sangat menyukainya. Semasa menghapus mesej, hapus dari sejarah mesej. Ini bermaksud bahawa
            salinan tersebut tetap ada di pelayan sebagai sebahagian daripada sejarah mesej rakan kongsi. Setelah rakan
            anda
            menghapusnya, ia akan hilang selamanya. ****** Tujuannya bukan untuk membawa keuntungan, kami sangat
            mementingkan ruang cakera di pelayan.</p>
        <p>Mesej merosakkan diri</p>
        <p>Anda boleh menentukan mesej dalam sembang rahsia untuk merosakkan diri sendiri. Setelah mesej seperti itu
            dibaca
            (2 pemeriksaan muncul), undur bermula. Apabila waktunya habis, kedua-dua peranti yang mengambil bahagian
            dalam
            sembang rahsia akan menghapus mesej (foto, video, dll.).</p>
        <p>Hancurkan akaun</p>
        <p>Sekiranya anda berhenti menggunakan ****** dan belum masuk ****** selama 6 bulan, akaun anda akan dihapus,
            dan
            semua mesej, media, dan kenalan anda disimpan di awan ****** Dan semua data lain juga akan dihapuskan. Anda
            boleh mengubah jangka masa pemusnahan diri yang tepat untuk akaun yang tidak aktif dalam "Tetapan".</p>
    </div>
</body>
<script>
    // url http://localhost:8999/PrivacyPolicy.html?lan=en
    window.onload = function() {
        var language = "";
        var divArray = document.querySelectorAll(".divLangItem");
        if (location && location.href) {
            language = location.href.split("?")[1];
            if (language) {
                language = language.split("=")[1];
                divArray.forEach(item => {
                    if (item.dataset.type ==language) {
                        item.style.display = "block";
                    }else{
                        item.style.display = "none";
                    }
                });
            }else{
                divArray.forEach(item => {
                    item.style.display = "block";
                });
            }
        }
    }
</script>
</html>